<div class="col-lg-3 col-md-3 col-sm-4">
    <div class="list-group table-of-contents">
        <a class="list-group-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard">Dashboard</a>
        <a class="list-group-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/cargo_quotes">Cargo Quotes</a>
        <a class="list-group-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/cargo_register">Cargo Register</a>
        <a class="list-group-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/comapany_register">Company Register</a>        
        <a class="list-group-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/vessel_register">Vessel Register</a>        
        <a class="list-group-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/profile">Profile</a>
        <a class="list-group-item" href="#" (click)="logMeOut()">Logout</a>                        
    </div>
  </div>