<!-- Fixed navbar -->
<nav class="navbar navbar-default" style="background-color: lightgray">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="">
          <img [src]="'assets/images/logo.png'" alt="" style="width: 200px;">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
         <li *ngIf="auth.isLoggedin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/dashboard">Dashboard</a></li>
         <li *ngIf="auth.isLoggedin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/cargo_quotes">Cargo Quotes</a></li>
         <li *ngIf="auth.isLoggedin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/chat"> Messages</a></li>         
         <li *ngIf="auth.isLoggedin()  && auth.isAdmin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/cargo_register">Cargo Register</a></li>
         <li *ngIf="auth.isLoggedin()  && auth.isAdmin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/company_register">Company Register</a></li>
         <li *ngIf="auth.isLoggedin()  && auth.isAdmin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/vessel_register">Vessel Register</a></li>            
         <li *ngIf="auth.isLoggedin()" class="dropdown open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{auth.loggedinName | uppercase}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">                   
              <li *ngIf="auth.isLoggedin() && auth.isAdmin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/user-management"> User Management </a></li>                  
              <li *ngIf="auth.isLoggedin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="/profile"> Profile</a></li>                  
              <li *ngIf="auth.isLoggedin()" ><a href="#" (click)="logMeOut()">Logout</a></li>
            </ul>
          </li>
          <li class="previous"><a href="#" >&larr; Chat</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>