<div id="loginbox" style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="show-hide-messages">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
  </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <div class="panel-title">Sign In</div>
         <div style="float:right; font-size: 80%; position: relative; top:-10px">
           <a href="#">Forgot password?</a>
         </div>
      </div>
      <div style="padding-top:30px" class="panel-body">
         <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
         <form id="loginform" class="form-horizontal" role="form" [formGroup]="loginForm" (submit)="loginUser()">
            <div style="margin-bottom: 25px" class="input-group"
            [ngClass] ="{'has-error': ( loginForm.controls.loginUser.errors && loginForm.controls.loginUser.invalid && (loginForm.controls.loginUser.dirty || loginForm.controls.loginUser.touched)),
            'has-success': !loginForm.controls.loginUser.errors && !loginError}">
               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               <input id="login-username" type="text"   class="form-control" formControlName="loginUser" name="loginUser" value="" placeholder="Username or E-mail">
               <div *ngIf="loginForm.controls.loginUser.invalid && (loginForm.controls.loginUser.dirty || loginForm.controls.loginUser.touched)">
                 <label for="loginUserError"  class="error-message" *ngIf="loginForm.controls.loginUser.errors.required">Username Or E-mail is required</label>
               </div>
            </div>
            <div style="margin-bottom: 25px" class="input-group"
            [ngClass] ="{'has-error': ( loginForm.controls.password.errors && loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)),
            'has-success': !loginForm.controls.password.errors && !loginError}">
               <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
               <input id="login-password" type="password" class="form-control" formControlName="password" name="password" placeholder="password">
               <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                 <label for="passwordError"  class="error-message" *ngIf="loginForm.controls.password.errors.required">Password is required</label>
               </div>
            </div>
            <div style="margin-top:10px" class="form-group">
               <!-- Button -->
               <div class="col-sm-12 controls ">
                  <button type="submit" [disabled]="!loginForm.valid || formProcessing" id="btn-login" href="#"
                   class="btn btn-primary pull-right">Login  </button>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12 control">
                  <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                     Don't have an account!
                     <a routerLink="/register">
                     Sign Up Here
                     </a>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<div class="clearfix"></div>
<div style="margin-top:10px"></div>
