<div class="wrapper">
    <div class="panel panel-primary ">
        <div class="panel-heading text-center clearfix">
         Chat list
        </div>
        <div class="panel-body user-list">
            <ul class="list-group">
                <a routerLink="/chat/chat-room"
                   class="list-group-item common-chat-room"
                >
                common chat room
               </a>
              <a *ngFor="let user of users"
                href="#"
                class="list-group-item"
                (click)="onUserClick(user.username)"
                [ngClass]="{active: user.username == current, online: user.online}"
                >
                  <img src="assets/img/generic-avatar.png" alt="avatar" height="28.5px" width="25px">
                  {{user.username}}
                  <span *ngIf="user.online" class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true" style="padding-top: 5px"></span>
              </a>
            </ul>
        </div>
    </div>
</div>
