<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="h2">
                     About Us
                </h2>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores</small>
            </div>
        </div>
    </div>
</div>
     <!-- Team Members Row -->
     <div class="row">
       <div class="col-lg-12">
         <h2 class="my-4">Our Team</h2>
         <hr>
       </div>
       <div class="col-lg-4 col-sm-6 text-center mb-4 mt-10">
         <img class="img-circle	 img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
         <h3>John Smith
           <small>Job Title</small>
         </h3>
         <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
       </div>
       <div class="col-lg-4 col-sm-6 text-center mb-4">
         <img class="img-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
         <h3>John Smith
           <small>Job Title</small>
         </h3>
         <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
       </div>
       <div class="col-lg-4 col-sm-6 text-center mb-4">
         <img class="img-circle	img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
         <h3>John Smith
           <small>Job Title</small>
         </h3>
         <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
       </div>
     </div>
