<ng-template #template>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-10  col-xs-offset-1">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{cargoModalTitleTxt}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" [formGroup] = "cargoFrom" (submit) = "onSubmitForm()">
                <!--<input type="file" accept=".csv" (change)="convertFile($event)" /> -->  
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-2">
                            <label for="">Type</label>
                        </div>
                        <div class="col-lg-8">
                            <label>
                                <input 
                                type="radio" 
                                value="cargo"
                                formControlName="type"
                                [checked]="cargo.type === 'cargo'"
                                >
                                Cargo
                            </label>
                            &nbsp;&nbsp;
                            <label>
                                <input 
                                type="radio" 
                                value="tc"
                                formControlName="type"  
                                [checked]="cargo.type === 'tc'"
                                >
                                TC
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2">
                            <label for="">Status</label>
                        </div>
                        <div class="col-lg-10">
                            <select name="" id="" class="form-control" formControlName="cargo_status" [(ngModel)]='cargo.cargo_status'>
                                <option  selected hidden>Select Cargo Status</option>
                                <option  *ngFor="let option of cargoStatus" [ngValue]="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                        <input type="text" formControlName="charterer" class="form-control" [(ngModel)]="cargo.charterer" placeholder="CHARTERER">
                    </div>
                    <div class="col-lg-5 ">
                        <input type="text" formControlName="broker" class="form-control" [(ngModel)]="cargo.broker" placeholder="BROKER">
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                        <input type="text" formControlName="grade" class="form-control" [(ngModel)]="cargo.grade"  placeholder="GRADE"> 
                    </div>
                    <div class="col-lg-5 ">
                        <input type="text" formControlName="quantity" class="form-control" [(ngModel)]="cargo.quantity"  placeholder="QUANTITY">
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                        <input type="date" class="form-control"  formControlName="date1" [(ngModel)]="cargo.date1" placeholder="MM/DD/YYYY"> 
                    </div>
                    <div class="col-lg-5 ">
                        <input type="date" class="form-control" formControlName="date2" [(ngModel)]="cargo.date2"  placeholder="MM/DD/YYYY" >
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">LOAD</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="load"  [(ngModel)]="cargo.load" placeholder="LOAD" > 
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">DISCHARGE</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="discharge" [(ngModel)]="cargo.discharge" placeholder="DISCHARGE" >
                    </div>
                    </div>   
                    <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                        <input type="text" formControlName="rate_type" [(ngModel)]="cargo.rate_type" class="form-control"  placeholder="RATE TYPE"> 
                    </div>
                    <div class="col-lg-5 ">
                        <input type="text" formControlName="rate" [(ngModel)]="cargo.rate" class="form-control"  placeholder="RATE" >
                    </div>
                    </div> 
                    <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input type="text" class="form-control" formControlName="vessel" [(ngModel)]="cargo.vessel"  placeholder="VESSEL" >
                    </div>
                    </div>     
                    <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">REMARKS</label>
                    <div class="col-lg-10">
                        <textarea formControlName="remarks" id="" class="form-control" rows="3" [(ngModel)]="cargo.remarks"></textarea>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2 text-right">
                        <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
                        <button type="submit" [disabled]="!cargoFrom.valid || formProcessing" class="btn btn-primary">{{cargoModalSaveBtnTxt}}</button>
                    </div>
                    </div>
                </fieldset>
            </form>        
        </div>
    </div>
</div>
</ng-template>
<ng-template #importTemplate>
<div class="modal-header">
<h4 class="modal-title pull-left">Import Quotes</h4>
<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <div class="alert alert-dismissible alert-success "
            *ngIf="allowImport">
            <strong>Click Import Button To Import Your Cargo Quotes.</strong>
           </div>
           <span class="pull-right">
                <a href="assets/csv_samples/sample_import_cargo_quotes.csv"
                   download="sample_sheet_cargo_quotes.csv"
                   target="_SELF">
                Download csv sample sheet?
                </a>
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <form class="form-horizontal" role="form" (submit) = "onImport()">
        <fieldset>
            <div class="form-group">
                <label for="grade" class="col-lg-2 control-label">File</label>
                <div class="col-lg-10">
                <input type="file" 
                class="form-control" 
                (change)="fileChangeListener($event)" 
                accept=".csv"
                value={{selectedImageFile}}
                style="padding: 0px 0px;" 
                />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2 text-right">
                <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
                <button type="submit" [disabled]="!allowImport || formProcessing" class="btn btn-primary">Import</button>
            </div>
            </div>
        </fieldset>
    </form>        
</div>
</ng-template>
<div class="row page-header">
    <div class="col-lg-8  col-xs-8">
        <h3>Cargo Quotes [{{cargoList?.length}}]</h3>
    </div>
    <div class="col-lg-4  col-xs-4 header-btn">
        <span class="pull-right">
        <button  class="btn btn-primary" (click)="exportQuotes()" [disabled]='!allowExport'> Export Quotes</button>
        <button  class="btn btn-info"    (click)="importQuote(importTemplate)"> Import Quotes</button>
        <button  class="btn btn-success" (click)="createCargoModal(template)" >New Quote</button>        
        </span>
</div>
</div>
    <div class="row">
    <div class="col-lg-12  col-xs-12">
        <div class="show-hide-messages">
            <div [ngClass]="messageClass">{{ message }}</div>
        </div>
    </div>
    <div class="col-lg-2 col-lg-offset-5  col-xs-12 pull-right">
        <div  *ngIf="cargoList?.length > 0">
            <input type="text" [(ngModel)]="qoute" placeholder="Search Cargo Quote" 
            class=" form-control">
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="col-lg-12  col-xs-12">
    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th>#</th>
            <th (click)="sort('status')">
                <span class="glyphicon sort-icon" *ngIf="key =='status'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Status
            </th>
            <th>
                Type
            </th>
            <th (click)="sort('charterer')">
                <span class="glyphicon sort-icon" *ngIf="key =='charterer'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Charterer
            </th>
            <th (click)="sort('broker')">
                <span class="glyphicon sort-icon" *ngIf="key =='broker'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Broker
            </th>
            <th (click)="sort('grade')">
                <span class="glyphicon sort-icon" *ngIf="key =='grade'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Grade
            </th>
            <th (click)="sort('quantity')">
                <span class="glyphicon sort-icon" *ngIf="key =='quantity'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Quantity
            </th>
            <th (click)="sort('date1')">
                <span class="glyphicon sort-icon" *ngIf="key =='date1'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Date 1
            </th>
            <th (click)="sort('date2')">
                <span class="glyphicon sort-icon" *ngIf="key =='date2'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Date 2
            </th>
            <th (click)="sort('discharge')">
                <span class="glyphicon sort-icon" *ngIf="key =='discharge'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Discharge
            </th>
            <th (click)="sort('load')">
                <span class="glyphicon sort-icon" *ngIf="key =='load'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Load
            </th>
            <th (click)="sort('rate_type')">
                <span class="glyphicon sort-icon" *ngIf="key =='rate_type'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Rate Type
            </th>
            <th (click)="sort('rate')">
                <span class="glyphicon sort-icon" *ngIf="key =='rate'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Rate
            </th>
            <th (click)="sort('vessel')">
                <span class="glyphicon sort-icon" *ngIf="key =='vessel'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Vessel
            </th>
            <th>Remarks</th>
            <th>Added By</th>
            <th>Date Added</th>
            <th>Action</th>                                                                              
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of cargoList | filter:qoute | orderBy: key : reverse; index as i ">
            <td>{{i+1}}</td>
            <td>{{item.cargo_status}}</td>
            <td>{{item.type}}</td>
            <td>{{item.charterer}}</td>
            <td>{{item.broker}}</td>
            <td>{{item.grade}}</td>
            <td>{{item.quantity}}</td>
            <td>{{ item.date1.split("T")[0]  }}</td>
            <td>{{ item.date2.split("T")[0]  }}</td>
            <td>{{item.discharge}}</td>  
            <td>{{item.load}}</td>
            <td>{{item.rate_type}}</td>
            <td>{{item.rate}}</td>
            <td>{{item.vessel}}</td>                        
            <td>{{item.remarks}}</td>
            <td>{{item?.added_by}}</td>
            <td>{{ item.dateadded | date:'dd/MM/yyyy' }}</td>
            <td>
                <a href="javascript:void(0)" (click)="onEditCargo(i, template)" ><span class="glyphicon glyphicon-pencil info"></span></a>
                &nbsp;
                <a href="javascript:void(0)" (click)="onRemoveCargo(i, item._id)" class="danger"><span class="glyphicon glyphicon-trash"></span></a>                            
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>