<div class="row">
        <app-sidebar ></app-sidebar>
        <div class="col-sm-9">
            <div class="page-header">
                <h3>Profile</h3>
            </div>
            <form  class="form-horizontal" role="form" >
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                       <p>Error:</p>
                       <span></span>
                    </div>
                    <div class="form-group">
                       <div class="col-md-9"> 
                          <input type="text" class="form-control" placeholder="Current Password">
                       </div>
                    </div>
                    <div class="form-group">
                       <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="New Password">
                       </div>
                    </div>
                    <div class="form-group">
                       <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="Retype New Password">
                       </div>
                    </div>
                    <div class="form-group">
                       <!-- Button -->
                       <div class="col-md-9">
                          <button id="btn-signup" type="submit" class="btn btn-success btn-block">
                          <i class="icon-hand-right"></i>&nbsp; Update Password &nbsp;</button>
                       </div>
                    </div>
               </form>
        </div>
</div>